body 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0px;
    padding: 0px;
}
.container
{
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
#mainheader
{
    background: #333;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
}
#mainmenu
{
    background: #ccc;
    color: black;
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
#mainmenu ul
{
    padding: 0;
    margin: 0;
    list-style: none;
}
#mainmenu li
{
    display: inline;
    padding: 5px 10px;
}
#mainmenu a
{
    color: black;
    text-decoration: none;
    font-size: 18px;
}
#mainmenu li:hover
{
    background: #aaa;
}

#mainfooter{
    color: #fff;
    background: #333;
    text-align: center;
    min-height: 50px;
}

#map{
    min-height: 800px;
    height: 100%;
    width: 100%;
}

#leftStat{
    width: 50%; 
    height: auto;
    float: left;
}

#rightStat{
    width: 50%; 
    height: auto;
    float: right;
}

#navMenu
{
    background: #ccc;
    color: black;
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: auto;
}